.card-category {
  color: white;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  height: 180px;
  width: 300px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
